#fondo { background-image: url("../imgs/crear_productos/jajaja.jpg");/*background-color: aqua;*/}

#ocultar { visibility: hidden; }

h1 { color: #2e3e3e; }

#titu { background-color: aqua; }

#lateral { background-color: #0b0b0b; }

#header { background-color: rgb(0 89 187); }

.sub { background-color: rgb(0 89 187); }